attrs==22.1.0
beautifulsoup4==4.11.1
cloudpickle==2.1.0
cycler==0.11.0
ipywidgets==7.7.1
jupyter==1.0.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
matplotlib==3.5.2
notebook==6.4.12
numba==0.56.0
numpy==1.22.3
optuna==2.10.1
packaging==21.3
pandas==1.4.3
Pillow==9.2.0
prettytable==3.3.0
pycparser==2.21
pyparsing==3.0.9
pyperclip==1.8.2
pyrsistent==0.18.1
pytz==2022.1
PyYAML==6.0
scikit-learn==1.1.2
scipy==1.7.3
shap==0.41.0
slicer==0.0.7
SQLAlchemy==1.4.39
tqdm==4.64.0
widgetsnbextension==3.6.1
xgboost==1.5.0
