fsspec==2022.8.2
gcsfs==2022.8.2
google-cloud-aiplatform==1.21.0
kfp==1.8.18
matplotlib==3.5.2
numpy==1.21.6
optuna==2.10.1
pandas==1.3.5
pickle-mixin==1.0.2
scikit-learn==1.0.2
scipy==1.7.3
shap==0.41.0
tqdm==4.64.0
xgboost==1.5.0
